<header>
  <div class="container">
    <div class="header-wrap">
      <a href="#" class="logo">Dev<span>Portfólio</span></a>

      <nav>
        <button class="mobile-toggle" id="mobile-toggle">
          <i class="fas fa-bars"></i>
        </button>

        <ul class="nav-menu" id="nav-menu">
          <li><a href="#hero" i18n="@@menu.home" class="active">Início</a></li>
          <li><a href="#sobre" i18n="@@menu.about">Sobre</a></li>
          <li><a href="#habilidades" i18n="@@menu.skills">Habilidades</a></li>
          <li><a href="#projetos" i18n="@@menu.projects">Projetos</a></li>
          <li><a href="#experiencia" i18n="@@menu.experience">Experiência</a></li>
          <li><a href="#contato" i18n="@@menu.contact">Contato</a></li>
          <li>
            <button id="theme-toggle" class="theme-toggle">
              <i class="fas fa-moon"></i>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
